/*---------- CSS Reset -------*/

*{
    padding:0;
    margin: 0;
    font-size: 100%;
    line-height: 1em;
}
/*------------- MAIN STYLING --------------*/

body {
  width:100%;
  max-width: 650px;
  margin:auto;
  background: #fafafa;
  color: #333;
  font-family: 'Lato', sans-serif;
}

/*-----------------TYPOGRAPHY--------------*/

h1, h2 {
  font-weight: normal;
  color:#333;
  text-align: left;
font-family: 'Great Vibes', cursive;
}


P{font-family: 'Roboto', sans-serif;
}

p, blockquote {
  margin-bottom:1.53em;
  line-height: 1.5em;
  font-size: 1.2em;
}


h1 {font-size: 2em;
    margin-top: 1em;
    margin-bottom: 1em;
    margin-left: 0.5em;
    margin-right: 0.5em;
    font-weight: normal;
    text-align: center;

  }

h2 {font-size: 2.5em;
    margin: 4em 2 2em 1;
    margin-top: 1em;
  }


blockquote {
    font-size: 1.8em;
    hanging-punctuation: first;
    text-indent: -0.08em;
    color:#FF814B;
}

blockquote cite {
     font-size: 0.75em;
}

hr{
  margin: 0.25em 0;
  height:3px;
  background-color: #FF814B;
  border: 0 none;

}

/*---------IMAGES-------------------*/
img {
    display: block;
    margin: 3em auto;
    padding: 0;
    max-width: 100%;
}

.letter
{
  display: block;
margin: 3em auto;
padding: 0;
max-width: 50%;
}

.thumbnail
{
display: block;
margin: 1em 0 -25em 0;
padding: 0;
height: 700px;
padding-bottom: 50px;

}



/*----------------NAVIGATION-------------*/
nav {
    position: sticky;
    overflow: hidden;
    top: 0;
    bottom: 0;
    left: 0;
    margin: 0;
    width: 100%;
    background-color: #FF814B;
    padding: 2em 0 2em 0;
    font-size: 0.90em;
    box-shadow: 0 0 10px 0 black;
}

nav ul {
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 1px;
}

nav ul li {
    display: inline;
    margin: 20px;
}

nav a:link {
    color: #fafafa;
    text-decoration: none;
}

nav a:visited {
    color: #fafafa;
}

nav a:hover {
    border-bottom: none;
    color: #FFC422;
  }





/*--------------FOOTER-------------*/
footer{
  text-align: center;
  font-size: 0.717em;
  padding: 2em 0 4em 0
}
